<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConsumeWebApiMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConsumeWebApiMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <img src="~/css/images/logo.jpg" alt="" style="width:100px;height:60px;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="text-end">

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                            <li class="nav-item">
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" style="font-size:large" asp-controller="Order" asp-action="Search">طلباتى </a>
                            </li>
                            &nbsp;
                            <a class="nav-link  " asp-area="" style="font-size:large" asp-controller="Order" asp-action="GetAllOrders">الطلبات </a>
                            </li>
                            &nbsp;
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" style="font-size:large " asp-controller="Category" asp-action="GetAllCategories">الأقسام </a>
                            </li>
                            &nbsp;
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" style="font-size:large" asp-controller="Employee" asp-action="GetAllEmployee">الموظفين </a>
                            </li>
                            &nbsp;    
                            <li class="nav-item">
                                <a class="nav-link " style="font-size:large" asp-area="" asp-controller="Home" asp-action="Privacy">سياسة الخصوصية</a>
                            </li>
                            &nbsp;  
                            <a class="nav-link  " style="font-size:large"  asp-area="" asp-controller="Home" asp-action="Index">الصفحة الرئيسية </a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <hr/>
    <hr/>
    <hr/>
    <hr/>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - الطلبات الالكترونية - <a asp-area="" asp-controller="Home" asp-action="Privacy">سياسة الخصوصية</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
