@model ConsumeWebApiMVC.Models.OrderViewModel

@{
    ViewData["Title"] = "AddOrder";
}

<h1>AddOrder</h1>

<h4>OrderViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrder">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <hr/>
                <label asp-for="Name" class="control-label"></label>
                <hr/>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <hr/>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <hr/>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
                <hr/>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label" style="font-size:large"></label>
                <hr/>
                <select class="form-select-sm" style="width:400px" asp-for="EmployeeId" asp-items="ViewBag.catItem"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
                <hr/>
            </div>
            <div class="form-group">
                <hr />
                <a asp-controller="Order" asp-action="GetAllOrders" class="btn btn-danger">
                    رجوع
                </a>
                &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
