@model ConsumeWebApiMVC.Models.EmployeeViewModel

@{
    ViewData["Title"] = "EditEmployee";
}

<h1 class="text-end">تعديل بيانات موظف </h1>

<hr />
<div class="row  text-end">
    <div class="col-md-4  ">
        <div class="form-container">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label" style="font-size:large"></label>
                    <input asp-for="Id" class="form-control" disabled />
                    <span asp-validation-for="Id" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="Name" class="control-label" style="font-size:large"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <hr />
                    <label asp-for="Email" class="control-label" style="font-size:large"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <hr />
                    <label asp-for="Phone" class="control-label" style="font-size:large"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <hr />
                    <label asp-for="Address" class="control-label" style="font-size:large"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <hr />
                    <label asp-for="CategoryId" class="control-label" style="font-size:large"></label>
                    <hr />
                    <select class="form-select-sm" asp-for="CategoryId" asp-items="ViewBag.catItem"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <hr />
                    <a asp-controller="Employee" asp-action="GetAllEmployee" class="btn btn-danger">
                        رجوع
                    </a>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="submit" value="حفظ" class="btn btn-primary" />

                </div>
            </form>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
